title = "Main"
url = "/"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 6
noPostsMessage = "No posts found"
sortOrder = "created_at asc"
categoryPage = 404
postPage = "blog-detail"

[builderList asd]
modelClass = "Arr\MainContent\Models\Main"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "asd"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set arr = asd.records %}
<!--<div class="main_content">-->
<!--    {% for ar in arr %}-->
<!--    <div class="main_content__relative">-->
<!--        <p class="main_content__title">{{ ar.title }}</p>-->
<!--        <img class="main_content__img" src="{{ ar.featured_images.path }}" alt="">-->
<!--    </div>-->
<!--    {% endfor %}-->
<!--</div>-->

<div class="container">
    <div class="main_content__new">
        {% for ar in arr|slice(0, 1) %}

        <div class="main_content__new__title">
            {{ ar.title }}
        </div>
        <p class="main_content__new__description">
            {{ ar.description }}
        </p>
        <span class="main_content__new__button">
                <a href="{{ ar.url }}">Read More</a>
            </span>
        <img class="main_content__new__img" src="{{ ar.featured_images.path }}" alt="">
        {% endfor %}
    </div>
</div>


<div class="blog__container">
    <div class="container">
        <div class="blog">
            <!--            <h2 class="blog__header">Blog</h2>-->
            {% set paginate = blogPosts.posts.links().toHtml() %}
            {% set posts = blogPosts.posts %}

            <div class="blog__grid">

                {% for key, post in posts if posts.total() %}

                <article href="{{post.url}}" class="blog__article grid-{{ loop.index }}">

                    <div class="blog__content">
                        {% for category in post.categories %}
                        <span class="blog__tag effect-target">{{ category.name }}</span>
                        {% endfor %}
                        <a class="blog__title effect-target" href="{{post.url}}">{{ post.title|raw }}</a>
                    </div>

                    <div class="blog__img">
                        <a href="{{post.url}}">
                            <img class="effect-image" src="{{ post.featured_images[0].path }}"
                                 alt="{{ post.featured_images[0].description }}">
                        </a>

                    </div>

                </article>

                {% endfor %}

            </div>

        </div>

    </div>
    <!--Waves Container-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave"
                      d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"/>
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7"/>
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)"/>
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)"/>
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff"/>
            </g>
        </svg>
    </div>
    <!--Waves end-->
</div>